@font-face{
	/*
	http://stackoverflow.com/questions/17864742/how-to-apply-font-anti-alias-effects-in-css*/
	-webkit-font-smoothing: antialiased;
    font-family: "Eurostile-Bold";
    src: url('fonts/eurostile-bold-webfont.ttf'),
    url('fonts/eurostile-bold-webfont.eot'); /* IE */
}

@font-face{
	-webkit-font-smoothing: antialiased;
    font-family: "Eurostile";
    src: url('fonts/eurostile-webfont.ttf'),
    url('fonts/eurostile-webfont.eot'); /* IE */
}

hr {
	border-color: #4c4c4e;
}

a:link {
	color: #ffffff;
}

a:visited {
	color:#ffffff;
}
a:hover {
	color:#ffffff;
	text-decoration: none;
}

a:active {
	color:#ffffff;
} 

body {
	background-color: #727171;
}

h2 {
	font-family: "Eurostile-Bold";
}

h3 {
	font-family: "Eurostile-Bold";
}

h4 {
	font-family: "Eurostile";

}

h5 {
	font-family: "Eurostile-bold";
	color: #ffffff;
	font-size: 12pt;
	display: inline;
	margin-left:5px;

}

h6 {
	font-family: "Eurostile";
	color: #ffffff;
	font-size: 12pt;
	padding-left: 10px;
	display: inline;
	padding-right:20px;
}

/*HEADER BAR STYLES*/
.logo-container {
	margin: 16px 14px 0 26px;
}


.header-bar {
	margin-bottom: 0;
	border: none;
	background-color: #00ac77;
}



.header-bar li {
	font-family: Eurostile-Bold;
	-webkit-font-smoothing: antialiased;
	display: inline-block;
	border-left: 1px solid white;
	padding: 5px;
	text-transform: uppercase;
	color: white;

}

.header-bar li:last-child {
	border-right: 1px solid white;
}

/*CONTENT AREA STYLES*/
.content {
	background-color: #d8d8d8;
}

.chevron-list a {
	color: #aeb0b1;
	font-size: 14pt;
	font-family: "Eurostile";
	-webkit-font-smoothing: antialiased;
}

.chevron-list li {
	list-style: none;
	list-style-image: url('images/chevronbullet.png');
	margin-left: -25px;

}

.left-panel {
	padding: 5px 15px 11px 10px;
	margin:20px 0 30px 0;
	background-color: #ffffff;

}

.submit-button {
	background-image: url('images/submitbutton.png');
	background-repeat: no-repeat;
	background-color: white;
	width: 140px;
    height: 30px;
    border: 0px;
}


.content-panel {
	padding: 20px 20px 105px 20px;
	margin: 25px 0px 25px 0px;
	background-color: #f0efef;	
}

.two-col-list {

	overflow: auto;
	margin-top: 30px;
	padding: 0;
}


.two-col-list li {
	display: inline-block;
	width: 45%;
	margin: 0;
	padding: 0;
	vertical-align: top;
}

.two-col-list li:before {
	content: url('images/downarrow.png');
    padding: 0 7px 9px 0;
    margin-right: 5px; 
    display: inline-block;
}

.two-col-list a {
	color: black;

}

/*FOOTER BAR STYLES*/

.footer {
	background-color: #056b4c;
	padding-bottom: 20px;
}

.footer h3 {
	-webkit-font-smoothing: antialiased;
	font-family: "Eurostile-Bold";
	color: #b6fde7;
	text-align: center;
	text-transform: uppercase;
	margin-bottom: 25px;
}

.no-style-list {

	-webkit-font-smoothing: antialiased;
	text-transform: uppercase;
	color: white;
	font-size: 14px;
	line-height: 21px;
	list-style-type: none;
	display: inline-block;
	width: 45%;

}

.icon-list {
	display: inline-block;
	width: 45%;
	float: right;
	list-style-type: none;
}

.icon-list li {
	padding: 2px;
}

.button {
	padding: 10px;

}

.tweet-header {
	color: #e2e3e4;
	-webkit-font-smoothing: antialiased;
	text-align: center;
}

.tweet-date {
	-webkit-font-smoothing: antialiased;
	float: right;
	color: #e2e3e4;
	font-size: 9pt;
}

.tweet-content {
	color: #939597;
}

.tweet-link {
	color: #a0ebd4;
}

.tweet-link a:visited {
	color: #a0ebd4;
}

.footer-bar {
	-webkit-font-smoothing: antialiased;
	padding: 10px;
	background-color: #d8d8d8;
	margin-bottom:30px;
	text-transform: uppercase;
	font-family: "Eurostile-Bold";
	font-size: 9pt;
}


.signup-button {
	background-image: url('images/signupbutton.png');
	background-repeat: no-repeat;
	background-color: #056b4c;
	width: 140px;
    height: 30px;
    border: 0px;
	margin: 35px 12px 0 0;
	float: right;
}



.newsletter-email {
	width: 95%;
	background-color: #a3a2a2;
	color: #4c4c4e;
	border: 1px solid #4c4c4e;
	font-size: 9pt;
	padding: 4px;
	padding-left: 42px;

	background-image:url('images/newslettericon.png');
	background-repeat: no-repeat;
	background-position: 5px center;

}

.newsletter-email::-webkit-input-placeholder {
	color: #4c4c4e;
}
.newsletter-email:-moz-placeholder {
	color: #4c4c4e;
}
.newsletter-email::-moz-placeholder  {
	color: #4c4c4e;
}
.newsletter-email:-ms-input-placeholder {
	color: #4c4c4e;
}

.right-align {
	text-align: right;
}


.privacy-notice .newsletter-checkbox {
	margin-right: 6px;
}

.privacy-notice {
	-webkit-font-smoothing: antialiased;
	color: #939597;
	font-size: 9pt;
	margin-top: 10px;

	
}

.privacy-notice a {
	color: #f7931d;
	text-decoration: underline;
}


/*styling for popup modal*/
.popup-header {
	background-color: #00ac77;
	padding: 5px 0;
}
.popup-title {
	margin: 0;
	-webkit-font-smoothing: antialiased;
	font-family: Helvetica;
	font-size: 11pt;
	line-height: 1.5;
	padding-left: 30px;
	color: #ffffff;
}

.modal .close {
	float: left;
	margin-left: 7px;
	margin-top: -2px;
}

.modal-dialog {
	width: 350px;
}

.modal-dialog-center {
    margin-top: 15%;
}
